/* Reset
/* ---------------------------------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

img {
  max-width: 100%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

i,
em,
dfn {
  font-style: italic;
}

h1 {
  margin: 0;
  font-size: 2em;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

mark {
  background-color: #fdffb6;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* 3 */
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
}

button {
  overflow: visible;
  border: none;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 3 */
  -webkit-appearance: button;
  /* 2 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}

input:focus {
  outline: none;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */
  -webkit-appearance: textfield;
  /* 1 */
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

legend {
  padding: 0;
  /* 2 */
  border: 0;
  /* 1 */
}

textarea {
  overflow: auto;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

.tags-item:nth-child(9n+1) {
  background-color: #15a287;
}

.tags-item:nth-child(9n+2) {
  background-color: #6ca1a2;
}

.tags-item:nth-child(9n+3) {
  background-color: #81a244;
}

.tags-item:nth-child(9n+4) {
  background-color: #3756a2;
}

.tags-item:nth-child(9n+5) {
  background-color: #1fa231;
}

.tags-item:nth-child(9n+6) {
  background-color: #9ea218;
}

.tags-item:nth-child(9n+7) {
  background-color: #a25722;
}

.tags-item:nth-child(9n+8) {
  background-color: #8318a2;
}

.tags-item:nth-child(9n+9) {
  background-color: #0b57a2;
}

body {
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  background: #EEEEEE;
  width: 100%;
  height: 100%;
}

.loader {
  width: 100%;
  height: 100%;
}

.loader img {
  width: 100%;
  height: 100%;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.site-header {
  color: #fff;
  background: #090a0b no-repeat 50%;
  background-size: cover;
  padding: 0 4vw;
}

.site-header-inner {
  letter-spacing: 1px;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1230px;
}

.site-header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10vw 4vh;
  min-height: 250px;
  max-height: 450px;
}

.site-title {
  font-size: 3.8rem;
  margin: auto;
}

.logo-img {
  max-height: 50px;
}

.site-description {
  margin-top: 20px;
  font-size: 1.2rem;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav-item {
  padding: 10px 14px;
}

.nav-item a {
  color: #fff;
  font-weight: normal;
}

.main {
  padding-top: 20px;
}

.article-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.article-list {
  max-width: 820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.article-item {
  padding: 15px 20px;
}

.article-item-content {
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 3px 3px 8px rgba(16, 25, 33, 0.21);
          box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 3px 3px 8px rgba(16, 25, 33, 0.21);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 25px 0 25px;
}

.article-item-content a {
  text-decoration: none;
}

.article-item-category {
  display: block;
  font-weight: 700;
  margin-bottom: 4px;
  color: #656f73;
  font-size: 0.9rem;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.article-item-header {
  margin-bottom: 6px;
}

.article-item-description {
  font-size: 1rem;
  color: #000000;
  line-height: 1.5;
}

.article-item-title {
  color: #000000;
  font-weight: bold;
  letter-spacing: .5px;
  font-size: 1.4rem;
}

.article-item-footer {
  margin-top: 30px;
  padding-bottom: 25px;
  text-align: right;
}

.publication-date {
  font-weight: 700;
  color: #656f73;
  font-size: 0.9rem;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.article-left {
  max-width: 390px;
  width: 100%;
  padding: 15px 0;
}

.article-left-box {
  background: white;
  -webkit-box-shadow: 0 0 2px 0 rgba(58, 58, 58, 0.2);
          box-shadow: 0 0 2px 0 rgba(58, 58, 58, 0.2);
  padding: 25px 20px;
  overflow: hidden;
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-btn {
  padding: 6px 8px;
  border: 1px solid #969595;
  background: white;
}

.search-input {
  padding: 6px 8px;
  border: solid 1px #D4D4D4;
  background: #F7F7F7;
}

.tag-box {
  margin-top: 40px;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tags-item {
  color: white;
  padding: 4px 6px;
  background: #0D3349;
  margin-left: 10px;
  margin-top: 10px;
  letter-spacing: 1px;
}

.footer {
  color: #fff;
  background: #000;
  padding: 20px 0 40px 0;
}

.site-footer {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer a {
  text-decoration: none;
  color: #fff;
}

